<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES REVIEW</title>

<body>

    <div class="header">
        <div class="title"><a href="/reviews">MOVIES REVIEW</a></div>
        <a href="/reviews/create">ADD REVIEW</a>
    </div>

    <!--템플릿 문법-->

    {% for review in reviews %}
    <p><a href="/reviews/{{review.id}}">{{review.title}}</a></p>
    <p>{{review.genre}}</p>
    <p>{{review.rating}}</p>
    <!--<p>{{review.year}}</p>-->

    {% endfor %}

    <!-- <div class="movie-container">
        
        <div class="movie-card">
            <p>제목</p>
            <p>G</p>
            <p>Rating: ★★★★☆</p>
        </div>

        
        <div class="movie-card">
            <p>제목</p>
            <p>장르</p>
            <p>Rating: ★★★☆☆</p>
        </div>

        
        <div class="movie-card">
            <p>제목</p>
            <p>장르</p>
            <p>Rating: ★★★★☆</p>
        </div>

  
        <div class="movie-card">
            <p>제목</p>
            <p>장르</p>
            <p>Rating: ★★★★☆</p>
        </div>
    </div> -->

</body>

</html>