{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  {% if post.photo.url != '' %}
    <img src="{{post.photo.url}}" alt="제품 이미지" />
  {% else %}
    <img src="{% static 'posts/image/no_img.png' %}" alt="대체 텍스트" />
  {% endif %}
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <p>관심도: {{post.interest}}</p>
  
  <a href="{% url 'tools:detail' post.tool.pk %}">개발툴: {{post.tool.name}}</a>
  <form action="{% url 'posts:delete' post.pk %}" method="POST">
    {%csrf_token%} 
    <button type="submit">삭제하기</button>
    <a href="{% url 'posts:main'  %}">목록</a>
    <a href="{% url 'posts:update' post.pk %}">수정하기</a>
   
  </form>
{% endblock content %}
